/* Custom Css Page */

/*Waiting for page to fully render with JQuery:*/
body {display: none;}

/*Fonts*/
h1{font-weight: 300; font-size: 32px; letter-spacing: 0.28em;}
h2{font-weight: 400; font-size: 26px; letter-spacing: 0.20em; font-style: italic; color: #484746;}

/*Headings:*/
h1{float: right;}
.header{border-bottom: solid 1px; border-color: #bdbab9; margin-bottom: 2%; margin-top: 20px;}

/*No Body Top Padding*/
.notop{padding-top: 0px;}

/*Nav section*/
#navee{list-style:none; margin:0; padding:0; text-align:center;}
#navee li{display:inline;}
#navee a {display:inline-block; padding:10px;}
.cent-fix a {color:#8D8887; font-weight: 100;}
nav#navee ul#nav-list li.cent-fix a {padding-right:5%; padding-left:5%; border-right: #a09d9d 2px solid; font-size: 13px;}
.nav-height {height: 30px; line-height: .01;}
.nav-height a.grow{text-decoration: none;}
.nav-height a.grow:hover{color:#373636;}
.nav-height a.grow:active{color:#373636;}

/*Mobile Nav*/
.mobmenu{margin-top: 4%;}

/*Slider Details*/
.rounded{border-radius: 6px;}
.homepara{font-size: 12px;}

/*Logo Section*/
section#logo div#logo.row {margin-bottom: 0px;}

/*Fix bootstrap padding and alignment*/
nav#navee ul#nav-list {margin-bottom: 2px; padding-left: 0px;}

/*Google Fonts*/
h1, h2, h3, h4, h5, h6 {font-family: 'Oswald', sans-serif;}
p, div {font-family: 'Oswald', sans-serif; color: #605c5b; font-weight: 100;}

/* Vertical Offsets */
.voffset  { margin-top: 15px;}
.voffset1 { margin-top: 20px;}
.voffset2 { margin-top: 40px;}
.voffset3 { margin-top: 60px;}

/***********************Aidans:**********************************/

/*About page*/
#owner img{width:300px;}
#spiritual-header{margin-right: -55px;}
#spiritual h2{font-style: italic;}
#about-address{margin-right: -335px;}
.inpad{padding-top: 2%;}

/*Events page*/

#events-header{margin-right: -15px;}
#events{padding-top: 30px;}
#events img{width: 200px;}
#events p{font-weight: 500;}
#events img{}
#address p{padding-left: 50px}

/*Contact page*/
#map{padding-top:30px;}
#contact-form{border-color: #bdbab9;	
			padding-top: 30px}






